<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I bring over 16 years of experience to the table, specializing in Sitecore CMS and Microsoft Azure.  My passion lies in transforming complex client challenges into efficient, scalable solutions.  My strong communication skills bridge the gap between teams, ensuring seamless collaboration for exceptional outcomes.
        </p>
        <p>
          Throughout my career, I've spearheaded the successful delivery of intricate Sitecore projects. My expertise extends beyond Sitecore, encompassing full-stack development with a mastery of API development using DDD and EDA principles. I'm also a whiz at CI/CD automation using Azure DevOps.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            16+ Years of Web Development Expertise: Leverage Sitecore CMS and Microsoft Azure to craft exceptional solutions.
    			</li>
          <li>
            Proven Leadership in Complex Projects: Successfully delivered intricate Sitecore projects on time and within budget.
          <li>
            Full-Stack Development Mastery: Skilled in API development (DDD & EDA) and CI/CD automation (Azure DevOps).
    			<li>
            Exceptional Communication and Collaboration: Bridge the gap between teams for seamless project execution.
    			</li>
    			<li>
            Commitment to Excellence: Certified professional in both Microsoft MVC apps and Sitecore CMS.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
